body {
    text-align: center;
}

.showJson {
    display: block;
    width: auto;
    height: auto;
    /* background-color: rgb(174, 174, 222); */
}

.btnShow {
    /* border-radius: 0px !important; */
    width: 20%;
    float: right;
    margin: 1px;
}

button {
    border-radius: 0px;
    background: rgb(174, 174, 222);
    color: aliceblue;
}

#tblMovies {
    width: 100%;
}

.sectionMovie {
    height: auto;
    background-color: rgb(249, 253, 252);
}

#tblAddMovies {
    margin-top: 20%;
}


/*

.botones button:hover {
    background-color: aquamarine;
    color: darkblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button.add:hover {
    background-color: aqua;
    color: darkblue;
} */